.AddProductModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ProductInformation {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.ProductInformation input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.ProductInformation button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

.ProductInformation button:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
  }
}
