.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top of other elements */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px; /* Adjust the width as needed */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  resize: vertical; /* Allow vertical resizing of textareas */
}

button {
  background-color: #157ff0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
  background-color: #d74654; /* Red color for cancel button */
}

/* Center the modal on smaller screens */
@media (max-width: 480px) {
  .modal-content {
    width: 90%;
  }
}
